{% extends 'sidebar.html' %}
{% load static %}
{% load staticfiles%}

{% block content %}

<div class="row">
  <div class="col grid">
    <div id="riwayat-transaksi" class="card">
      <h1 id="title">Transaksi</h1>
      {% include 'transaction.component.html' %}
    </div>
  </div>
</div>

<div id="modal-transaction" class="modal">
  <div class="modal-content">
    <form method="post">
      {% csrf_token %}
      <div class="form-group"><label for="id_nominal_topup">Nominal Top up</label><input type="number"
          class="form-control" id="id_nominal_topup" placeholder="How much..." /></div>
    </form>
    <button id="topup-submit" class="btn green m-1">Add</button>
  </div>

</div>

<div class=" circle ripple modal-btn" data-color="white" id="add-transaction">
  <i id="add" class="material-icons md-light">add</i>
</div>

<script src="{% static 'js/transaction.js' %}"></script>
{% endblock %}