{% extends 'sidebar.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}
<div class="row">
  <div class="col grid">
    <div class="card">
      <div class="col grid">
        <h1 id="title">Profile</h1>
        <div class="row">
          <div class="col grid flex-center">
            <img id="profile" src="{% static 'img/profile.png' %}" alt="profile-pic" class="img clip">
            <h3>{{ role }}</h3>
          </div>
          <div id="profile-description" class="col grid">
            <ul>
              <li>
                <h4>KTP :</h4>
                <p>{{ ktp }}</p>
              </li>
              <li>
                <h4>Nama : </h4>
                <p>{{ nama }}</p>
              </li>
              <li>
                <h4>Email : </h4>
                <p>{{ email }}</p>
              </li>
              <li>
                <h4>Alamat : </h4>
                <p>{{ alamat }}</p>
              </li>
              <li>
                <h4>No_telp : </h4>
                <p> {{ no_telp }}</p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if role == "ADMIN" or role == "PETUGAS" %}
  <div class="col grid">
    <div class="card">
      <h1 id="title">Report</h1>
      <div class="overscroll">
        {% include 'report.component.html' %}
      </div>
    </div>
  </div>
  {% endif %}
  {% if role == "ANGGOTA" %}
  <div class="col grid">
    <div class="card">
      <h1 id="title">Transaksi</h1>
      <div class="overscroll">
        {% include 'transaction.component.html' %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}