{% load static %}
{% load staticfiles %}


<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Bikesharing</title>
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>

<body>
        <section id="page1">
                <div id="loading-screen" class="sk-circle"></div>
                <div class="row grid flex-center">
                        <div class="col grid-4"></div>
                        <div class="col grid-3 flex-center">
                                <div class="alert"></div>
                                <img id="logo" class="img-fluid clip" alt="Bootstrap Image Preview"
                                        src="{% static 'img/bike_animation.gif' %}" />
                        </div>
                        <div class="col grid-3">
                                <div id="description" class="m-1">
                                        <h3>ShareBike</h3>
                                        <p>
                                                ShareBike is an application to store everything you need about bike.
                                                <strong>You can manage your bike, station, transaction history, bike
                                                        events, and so on.</strong>
                                                ShareBike allows you to lend a bike from many cities. There are some
                                                vouchers which you can get
                                                if you are lucky enough !.
                                        </p>
                                        <button id="signup-trans" data-color="green-light"
                                                class="btn white out-green">Sign up</button>
                                        <button id="login-trans" data-color="green-light"
                                                class="btn white out-green">Login</button>
                                </div>
                                <div id="form-card" class="card" hidden>
                                        {% include 'user.component/signup.component.html' %}
                                        {% include 'user.component/login.component.html' %}
                                </div>
                        </div>
                        <div class="col grid-4"></div>
                </div>
        </section>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
        <script src="{% static 'js/login.js' %}"></script>
        <script src="{% static 'js/signup.js' %}"></script>
        <script src="{% static 'js/home.js' %}"></script>
</body>

</html>