{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShareBike</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>
<body>
    <div id="animation" class="white-bg clip-bg"></div>
    <div class="container-fluid">
        <div class="row absolute">
            <div class="col-md-8">
                <div class="row d-flex align-items-center">
                    <div class="col-md">
                        <img id="logo" class="img-fluid clip" alt="Bootstrap Image Preview" src="{% static 'img/bike_animation.gif' %}" />
                    </div>
                    <div class="col-md">
                        <div id="signup-form" class="opacity-animate-on">
                        </div>
                        <div id="description">
                            <h3>
                                ShareBike
                            </h3>
                            <p>
                                ShareBike is an application to store everything you need about bike.<strong>You can manage your bike, station, transaction history, bike events, and so on.</strong> ShareBike allows you to lend a bike from many cities. There are some vouchers which you can get if you are lucky enough !. 
                            </p>
                            <button type="button" id="signup-home" class="btn btn-white-glow">
                                <a role="button" class="btn">Sign up !</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>