{% extends 'sidebar.html' %}
{% load static %}
{% load staticfiles %}

{% block content %}

<h1 style=" text-align: center;"> Tabel Penugasan</h1>

<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>




<section id="page">
  <table class="table" style="margin: 10 10 10 auto;">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Petugas</th>
        <th scope="col">Tanggal Mulai</th>
        <th scope="col">Tanggal Akhir</th>
        <th scope="col">Stasiun</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">1</td>
        <td>Robert</td>
        <td>06 Mei 2019</td>
        <td>15 Mei 2020</td>
        <td>11- Stasiun tanah keramat</td>
        <td><button type="submit" class="btn green m-1" id="button">Delete</button>
          <button type="submit" class="btn green m-1" id="button">Update</button></td>
      </tr>
      <tr>
        <td scope="row">2</td>
        <td>Downey</td>
        <td>07 Mei 2019</td>
        <td>16 Mei 2020</td>
        <td>121- Stasiun tanah abang</td>
        <td><button type="submit" class="btn green m-1" id="button">Delete</button>
          <button type="submit" class="btn green m-1" id="button">Update</button></td>
      </tr>
      <tr>
        <td scope="row">3</td>
        <td>Junior</td>
        <td>08 Mei 2019</td>
        <td>17 Mei 2020</td>
        <td>131- Stasiun tanah baru</td>
        <td><button type="submit" class="btn green m-1" id="button">Delete</button>
          <button type="submit" class="btn green m-1" id="button">Update</button></td>
      </tr>
    </tbody>
  </table>
</section>

{% endblock %}