{% load static %}
{% load staticfiles %}
<nav class="navbar white">
  <i id="more" class="material-icons">view_headline</i>
  <div id="greetings" class="col grid flex-end">
    <div class="flex-center navbar">
      <p>Hello, {{ nama }}</p>
      <img id="avatar" src="{% static 'img/avatar.png' %}" alt="avatar">
    </div>
  </div>
</nav>

<div id="profileBar" class="card">
  {% if role == "ANGGOTA" %}
    <p id="account-number">No. <span id="no_kartu">{{ no_kartu }}</span></p>
    <p id="saldo">{{ saldo }}</p>
  {% else %}
    <p id="ktp">ktp {{ ktp }}</p>
  {% endif %}
</div>