{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List of Bikes</title>
    <link rel="stylesheet" href="{% static 'css/penugasan.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
      #button{
        background-color: #00a8b5;
      }
      .table {
         margin: auto;
         width: 50% !important; 
      }
      .pagination {
         justify-content: center;
      }
      th{
        background-color: #00a8b5;
        color: white;
      }
    </style>
</head>


<body>
    <h1 style=" text-align: center;"> Bikes Table</h1>
  
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>




    <section id="page">
        <table class="table" style="margin: 10 10 10 auto;">
          <thead>
            <tr>
              <th scope="col">No</th>
              <th scope="col">Brand</th>
              <th scope="col">Type</th>
              <th scope="col">Station</th>
              <th scope="col">Status</th>
              <th scope="col">Donor</th>
              <th scope="col">Action</th>

            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">13u781</td>
              <td>BMX</td>
              <td>Dewasa</td>
              <td>Stasiun Basdat Depok 1</td>
              <td>Tersedia</td>
              <td>-</td>
              <td><button type="submit" class="btn green m-1" id="button" style="background-color:#de4383 !important">Delete</button>
                <button type="submit" class="btn green m-1" id="button" style="background-color: #f3ae4b !important">Update</button></td>
            </tr>
             
             <tr>
              <td scope="row">13u782</td>
              <td>TDR-300</td>
              <td>Sangat Dewasa</td>
              <td>Stasiun Bahari Jaya</td>
              <td>Tersedia</td>
              <td>Hamba Allah</td>
              <td><button type="submit" class="btn green m-1" id="button" style="background-color:#de4383 !important">Delete</button>
                <button type="submit" class="btn green m-1" id="button" style="background-color: #f3ae4b !important">Update</button></td>
            </tr>

            <tr>
              <td scope="row">13u783</td>
              <td>Fixie</td>
              <td>Anak-anak</td>
              <td>Stasiun Talang air</td>
              <td>Tidak Tersedia</td>
              <td>Nama disamarkan</td>
              <td><button type="submit" class="btn green m-1" id="button" style="background-color:#de4383 !important">Delete</button>
                <button type="submit" class="btn green m-1" id="button" style="background-color: #f3ae4b !important">Update</button></td>
            </tr>

          </tbody>
        </table>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
</body>

</html>